# Jupyter Notebook
.ipynb_checkpoints

# secret
secret*
.env

# scratches
scratch.ipynb
labbooks/*

# caches
__pycache__/
*.py[cod]
*$py.class
.mypy_cache
.hypothesis
.pytest_cache

# core dumps
core.*
